@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Reseteo de márgenes y padding, y configuración de la fuente global */
.pagos-page * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilos del cuerpo y fondo de la página */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    background: url("../assets/background.png") no-repeat center center/cover;
}

/* Estilos para el contenedor principal */
.custom-body {
    width: 100vw; 
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para el encabezado fijo */
.custom-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

/* Estilos para el logo */
.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.logo img {
    width: 100px; 
    height: auto; 
}

/* Estilos para la navegación */
.navigation {
    display: flex;
    align-items: center;
}

.navigation .custom-a {
    position: relative;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .custom-a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation .custom-a:hover::after {
    transform-origin: center;
    transform: scaleX(1);
}

/* Estilos para el botón de login */
.navigation .btnLogin-popup {
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.39s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

/* Estilos para los elementos de pago */
.wrapper {
    position: relative;
    top: 400px;
    width: 480px;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: transform 0.5s ease, height 0.2s ease;
}

/* Estilos para el contenido de los pagos */
.form-box {
    width: 100%;
    padding: 40px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
}


.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ffffff;
    margin: 30px 0;
  }
  .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
    transition: 0.5s;
  }
  .input-box input:focus ~ label,
  .input-box input:valid ~ label,
  .input-box.input-filled label {
    top: -5px;
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    font-weight: 500;
  }
  
  .input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #ffffff;
    line-height: 50px;
  }
/* Estilos para los botones */
.btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}

.btn-link {
    margin-top: 10px;
    padding: 10px;
    background-color: #474e47;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 16px;
}

/* Estilos para los botones de navegación */
.navigation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

/* Estilo para el mensaje de error o información */
#message {
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
}
